@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-rubik: 'Rubik Marker Hatch', cursive;
  --font-modak: "Modak", system-ui;
  --font-dynalight: "Dynalight", cursive;
}

@layer theme, base, components, utilities;

#root {
  background-color: rgba(235, 238, 237, 0.432);
  overflow-y: auto;
}

@theme {

  --animate-inflate: inflate 1s ease forwards;

  @keyframes inflate {
    0%{
      transform: scale(1);
    }

    20%{
      transform: scale(1.3);
    }

    70%{
      transform: scale(1);
    }

    100%{
      transform: translateX(80px)
    }
  }
} 

@theme {
  --animate-orbit: orbit 6s linear infinite;

  @keyframes orbit {
    0%{
      transform: rotate(0deg)
    }

    100%{
      transform: rotate(360deg)
    }
  }
}

@theme {

  --animate-counter-rotate: counter-rotate 6s linear infinite;

  @keyframes counter-rotate {
   
    100%{
      transform: rotate(-360deg);
    }
  }
}

@theme {
  --animate-fly: fly 1.5s ease-in-out infinite;

  @keyframes fly {
    0% {
      transform: translateY(-4px)
    }

    50% { 
      transform: translateY(0px)
    }

    100%{
      transform: translatey(-4px)
    }
  }
}

